/* .nav-name {
    height: 100%;
    color: white;
    background-color: #4aaaa5;
    justify-content: start;
} */

.width960 {
    width: 960px;

}

.navbar-brand {
    color: white;
    background-color: #83C1ff;
    height: 100%;
    padding: 25px;
}

/* .border-bottom {
    border-bottom-width: 10px;
} */